.testimonialsSection {
  margin: auto;
  padding: 2rem;
  text-align: center;
  /* background: var(--card-bg); */
  border-radius: 12px;
  /* box-shadow: 0 6px 16px var(--card-shadow); */
  max-width: 900px;
}

.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.testimonialCard {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s ease;
  position: absolute;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  background-color: var(--card-bg);
  color: var(--card-text);
  box-shadow: 0 4px 12px var(--card-shadow);
}

.active {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.titleBlock {
  text-align: left;
}

.titleBlock h4 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.role {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.stars {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  display: flex;
  gap: 3px;
  z-index: 2;
  pointer-events: none;
}

.message {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem 0;
  color: var(--primary-text);
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.links a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--heading-highlight);
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: var(--active-link);
}

.dots {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--card-shadow);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeDot {
  background-color: var(--highlight-color);
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .testimonialCard {
    padding: 1rem;
    max-width: 90%;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .titleBlock h4 {
    font-size: 1rem;
  }

  .role {
    font-size: 0.85rem;
  }

  .message {
    font-size: 0.95rem;
    margin: 0.8rem 0;
  }

  .links {
    flex-direction: column;
    gap: 0.6rem;
  }

  .links a {
    font-size: 0.85rem;
  }

  .slider {
    height: auto;
    min-height: 250px;
  }

  .stars {
    top: 0.6rem;
    right: 0.8rem;
  }
}

@media (max-width: 480px) {
  .testimonialsSection {
    width: 100%;
    padding: 2rem 0;
  }

  .topRow {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .titleBlock {
    text-align: center;
  }

  .message {
    font-size: 0.9rem;
  }

  .logo {
    width: 42px;
    height: 42px;
  }

  .slider {
    min-height: 260px;
    width: 100%;
  }

  .links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .dots {
    gap: 6px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .stars {
    top: 0.6rem;
    right: 0.8rem;
  }
}
