.contactInfoContainer {
  padding: 2rem 0rem;
}

.infoSection {
  position: relative;
  top: 20px;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--card-shadow);
  text-align: center;
  width: 280px;
  width: 40%;
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.iconWrapper {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: -50px auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.card h3 {
  font-weight: bold;
  margin-bottom: 6px;
  color: var(--primary-text);
}

.card p {
  color: var(--secondary-text);
  font-size: 14px;
}

.newsletterSection {
  background-color: rgb(99, 99, 99);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 100%;
}

.newsletterSection h2 {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 40px;
  overflow: hidden;
}

.newsletterSection {
  input {
    flex: 1;
    padding: 16px;
    border: none;
    font-size: 16px;
    border-radius: 40px 0 0 40px;
    outline: none;
  }

  button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  button:hover {
    background-color: var(--button-primary);
  }
}

/* Tablet adjustments */
@media (max-width: 768px) {
  .contactInfoContainer {
    padding: 1.5rem 0;
  }

  .form {
    flex-direction: row;
    max-width: 100%;
  }

  .infoSection {
    top: 20px;
  }

  .newsletterSection {
    input {
      padding: 14px;
      font-size: 14px;
    }

    button {
      padding: 0 20px;
      font-size: 14px;
    }
  }
}

/* Mobile adjustments */
@media (max-width: 500px) {
  .cardsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .infoSection {
    top: 40px;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  .newsletterSection h2 {
    font-size: 22px;
  }

  .form {
    flex-direction: column;
    border-radius: 20px;
    overflow: visible;
  }

  .newsletterSection {
    input {
      /* border-radius: 20px; */
      margin-bottom: 10px;
    }

    button {
      border-radius: 0;
      border-bottom-right-radius: 20px;
      width: 100%;
      padding: 10px 0;
    }
  }
}
